{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login - WBDDev</title>
    <!-- Link your CSS in this way...in django-->
    <link rel="stylesheet" href="{% static 'users/login_page.css' %}">
</head>
<body>
    <div id="container">
        <h2>Login</h2>
        <!-- Django form ....using url login on clicking subit it will tell that send this data to login view-->
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <!-- for security reason -->
            <div>
                <label for="role">Role:</label>
                <select name="role" id="role" required>
                    <option value="">Select Role</option>
                    <option value="student">Student</option>
                    <option value="faculty">Faculty</option>
                </select>
            </div>

            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>

            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>

            <div>
                <button type="submit">Login</button>
            </div>
        </form>

        <div>
            <p>Don't have an account? <a href="{% url 'register' %}">Sign Up</a></p>
            <!--to link it with register page -->
        </div>
    </div>
</body>
</html>
